body{
    margin:0px;
    height:100vh;
    /* fixed height of page */
    background-color:#222831;
    display:flex;
    color:white;
    flex-direction:column;
}
/* upper */
.upper
{
    display:flex;
    text-align:center;
    background-color:#111720;
    margin:0px;
}
h1
{   text-align:center;
    font-weight:bold;
    color:#fac650;
    display:block;
    flex-grow:1;
    font-family: 'BattleStar', sans-serif;
}

/* middle */

.middle
{
    flex-grow:2;
    background-color:#222831;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    /* align-items:center; */
}
.middle-upper
{
    text-align: center;
    font-size:25px;
}
.middle-lower
{
    
    display:flex;
    font-size:25px;
    gap:50px;
    justify-content:center;
    align-items:flex-end;
}
.middle-lower-score
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    margin:10px;
    gap:40px;
}
.middle-lower-score div
{   
    flex-grow:1;
}

/* lower part */
.lower
{
    flex-grow:1;
    display:flex;
    justify-content:center;
    gap:50px;
}
.lower button
{
    border:0px;
    background-color:#4a4f57;
    border-radius:15px;
    padding:0px;
    height:150px;
    width:150px;
}
.lower button:hover
{
    
    background-color:#5b5f68;
    cursor: pointer;
}
.emoji
{
    font-size:50px;
    height:50px;
}
.button-div
{
    background-color:green;
    display:flex;
    align-items:center;
    justify-content:center;
}
.button-div button
{
    font-size:35px;
    color:red;
}